<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"></link>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ggs-min.css"></link>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style_2.css"></link>

	<script type="text/javascript" src='/javascripts/jquery-1.7.1.min.js'></script>
	<script type="text/javascript" src='/javascripts/Get_news.js'></script>
	<!-- <script type="text/javascript" src='/javascripts/layout.js'></script> -->
</head>
<body>
	<div id="left_bar" class="columns d-3">
		<div id="channel"></div>
		<div id="title_div"></div>
	</div>

	<div id="content_div" class="columns d-5">
	</div>
</body>
</html>